{% extends 'base.html' %}

{% block head %}


{% endblock %}


{% block body %} 
<div class = "site"> 
    <form action = "/table" method = "POST">
        <label for="input_PID"> Enter product ID: </label>
        <input type="text" id="input_PID" name="input_PID" placeholder="E000000-000">
        <input type="submit">
    </form>
</div>
<div class = "site">
    <form id = "update_all" action = "/update_all" method = "POST" > 
        <h2> Tracked Items  
            <button type="submit" style="background-color:rgba(77, 212, 84, 0.685); border-radius: 5px; margin-left: 1%;  ;">Update All</button>  
        </h2> 
    </form>
            {% for PIDs in pid_list %}
            <div class ="card1">
                <div class = "container">
                {% for entry in entries %}
                    {% if PIDs == entry.PID %}

                        <h3> <a href=' {{entry.url}}' target="_blank"> {{entry.prod_name}} </a>|  Size:  ({{entry.prod_size}}) | Col: ({{entry.prod_color}})</h3>                    
                        <form id = "remove" action = "/remove" method = "POST" style = "display: inline-block">
                            <button type="submit" style="background-color:rgba(255, 0, 0, 0.486); border-radius: 5px;" name = 'remove' value = "{{ entry.l2Id }}"> Remove </button>
                            <input type = "hidden" name = remove_name value = "{{entry.prod_name}}">
                            <input type = "hidden" name = remove_size value = "{{entry.prod_size}}">
                            <input type = "hidden" name = remove_color value = "{{entry.prod_color}}">
                        </form>
                        
                        
                        <div class="card2"> 
                            <p> <b>STOCK</b> : 
                            {% if entry.prod_status == "N/A" %}
                                <span class ="stock-status" style="color:crimson"> Out of stock</span>
                            {% elif entry.prod_status == "Low stock" %}
                                <span class ="stock-status" style="color:rgba(116, 124, 5, 0.993)"> Low stock </span>
                            {% elif entry.prod_status == "In stock"%}
                                <span class ="stock-status"> In Stock </span>
                            {% endif %}
                            </p>

                            <p> <b>PRICE</b> :  
                                {% if entry.prod_curr_price == "" or entry.prod_curr_price == " " %}
                                    <span class = "stock-price"> N/A </span>  
                                {% else %} 
                                    <span class = "stock-price"> {{ entry.prod_curr_price }} </span>
                                {% endif %}
                            </p>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            {% endfor %}
        
    

</div>

{% endblock %}
